/* Importing Google Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* Global CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}
body{

    overflow-x: hidden;
}


.aboutus-article{
    margin: 30px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap-reverse;
}

.aboutus-article :nth-child(1){
    max-width: 500px;
    /* width: 500px; */
    display: flex;
    flex-direction: column;
    align-items: start;
    font-size: 1em;
    gap: 10px;
    padding: 10px;
}

.aboutus-article :nth-child(2) div{
    min-width: 200px;
    width: 200px;
    height: 300px;
    background: url(./Assests/serious-man-thinking_1149-1328.avif) no-repeat;
    background-size: cover;
    background-position: top;
}


.our-services-article{
    /* width: 100%; */
    /* height: 300px; */
    /* background-color: yellow; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.our-services{
    /* margin-left: 20px; */
    text-align: center;
}

.our-services-article section{
    max-width: 400px;
    width: 300px;
    height: 200px;
    /* background-color: blue; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    cursor: pointer;
}


.our-services-article section div{
    position: absolute;
    font-size: 1.2em;
    /* background-color: red; */
    border-radius: 10px;
    /* color: #FFF; */
    bottom: -20px;
    padding: 10px;
    right: 0;
}

.our-services-article :nth-child(1){
    background-image: url(./Assests/service_1.jpeg);
}

.our-services-article :nth-child(2){
    background-image: url(./Assests/service_2.png);
}

.our-services-article :nth-child(3){
    background-image: url(./Assests/service_3.png);
}